:css
  body {
    background: #FCFCFC;
  }
%nav
  .container.nav-wrapper
    = link_to 'Julian', root_path, class: 'brand logo'
    %ul.right
      %li
        = link_to 'Log Out', destroy_user_session_path, method: :delete
      %li
        = link_to 'View Questions', questions_path
.questions.container
  .row
    %h4.center.header Open Questions
    - if @questions.length > 0
      - @questions.each do |question|
        .col.s4
          .card
            .card-content
              %span.card-title= question.question
              %p Asked <b>#{time_ago_in_words(question.created_at)}</b> ago
            .card-action
              = link_to 'Claim this question', claim_question_path(question.id), method: :post
    - else
      %h5.header.center <i>There are no questions available right now - check back later</i>
