%h2.ui.header Log in
= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "ui form" }) do |f|
  .ui.grid{style: 'max-width: 400px; margin: auto;'}
    .row.field
      .sixteen.wide.column
        = f.email_field :email, autofocus: true, placeholder: 'Email'
    .row.field
      .sixteen.wide.column
        = f.password_field :password, autocomplete: "off", placeholder: 'Password'
    - if devise_mapping.rememberable?
      .row.field
        .middle.aligned.column
          .ui.checkbox
            = f.check_box :remember_me
            = f.label :remember_me
  .actions
    = f.submit "Log in", class: "ui inverted button", style: "margin-bottom: 1rem;"
= render "devise/shared/links"
